<h1>home layout</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}">
                    <img src={{this.image}} class="card-img-top" alt={{this.name}}>
                </a>
                <div class="card-body"></a>
                    <a href="/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Mua khoa hoc</a>
                </div>
            </div>
        </div>
        {{/each}}


    </div>
</div>